<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,height=device-height, initial-scale=1" />
    <meta name="description" content="Consulta e manutenção de cpfs na blacklist" />
    <meta name="theme-color" content="#FFFFFF" />
    
    <title>Consulta de Cpfs</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans:400,700" rel="stylesheet">
    
    <!-- Base CSS -->
    <link href="/css/base/root.css" rel="stylesheet" />
    <link href="/css/base/reset.css" rel="stylesheet" />

    <!-- Blacklist CSS -->
    <link href="/css/blacklist/paper.css" rel="stylesheet" />
    <link href="/css/blacklist/header.css" rel="stylesheet" />
    <link href="/css/blacklist/actions.css" rel="stylesheet" />
    <link href="/css/blacklist/search-result.css" rel="stylesheet" />


</head>

<body>

    <main class="paper">

        <header class="header">
            <h1 class="title" >Blacklist atual</h1>
            <p class="subtitle" >
                Segue a lista:
            </p>
        </header>

        <aside class="actions">
            <input id="search-input" 
                   type="text" 
                   class="search-input" 
                   onkeydown="processSearch(this);" 
                   title='Digite algo aqui para fazer uma pesquisa, ou adicionar um "CPF".' 
                   placeholder='Digite algo aqui para fazer uma pesquisa, ou adicionar um "CPF".' />
            <br />
            <br />
            <p class="btn-add-container" >
                <button id="btn-add" class="btn-add" >Adicionar</button>
            </p>
            <p class="details">
                *** PS: na blacklist :) ***
            </p>
        </aside>

        <ul id="search-result" class="search-result">
        </ul>

    </main>

    <!-- Lib -->
    <script type="text/javascript" src="/lib/sweet-alert/sweetalert.min.js" ></script>

    <!-- Base | Helpers -->
    <script type="text/javascript" src="/js/helpers/mask.js" ></script>
    <script type="text/javascript" src="/js/helpers/utils.js" ></script>
    <script type="text/javascript" src="/js/helpers/alert.js" ></script>

    <!-- Blacklist -->
    <script type="text/javascript" src="/js/blacklist/services.js" ></script>
    <script type="text/javascript" src="/js/blacklist/binds.js" ></script>

    <script>
        ready(function () {
            var addDebounceInstance = debounce();
            
            document.getElementById('btn-add').addEventListener('click', function () {
                addDebounceInstance.on(addNewCpf);
            });

            processSearch(document.getElementById('search-input'));
        });
    </script>
</body>

</html>