:root {
    --title-font: "Nunito";
    --body-font: "Open Sans";
    --main: skyblue;
    --secondary: #CD4B4B;
    --light: #FFFFFF;
    --dark: rgba(0, 0, 0, 0.8);
    --text: rgba(0, 0, 0, 0.7);
    --selection: gold;
    --light-shadow:  1px 1px 10px rgba(0,0,0, 0.5);
    --normal-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    --strong-shadow: 6px 6px 2px rgba(0, 0, 0, 0.1);
    --paper-background: repeating-linear-gradient(180deg, #e6e6e6, #e6e6e6 1px, #fff 1px, #fff 30px);
    --paper-lines-color: rgba(236, 236, 236, 0.5);
}